<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>MyXpo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>MyXpo</h1>
        <nav>
            <a href="{{ url_for('exhibition.index') }}">Accueil</a>
            <a href="{{ url_for('exhibition.create_exhibition') }}">Créer une exposition</a>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
